@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@400;500;700&display=swap");

/* Background of the main section. */
body {
  background-image: url("../../images/Background.png");
}

/* Container for the icons below the Carousel. Display them using flex and space-between. */
.ImagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28.5rem;
  margin-right: 26.4rem;
  margin-top: 4rem;
  font-family: "Ubuntu", sans-serif;
  color: #a9b5cc;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Arrange the icon and text below. */
.Pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Style for the Enjoy New World div. Set the dimensions and style of the text inside. */
.Enjoy {
  background-color: #272b35;
  height: 7.5rem;
  width: 18.375rem;
}

.Enjoy > h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.1875rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0;
}

.Enjoy > h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4375rem;
  font-weight: 400;
  margin: 0;
}
