@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@400;500;700&display=swap");

/* Layout of the items in the Checkout section. Set font family and size and align the text to the left.
   Increased margin right to match the design from Figma.
*/
.PackageInfo {
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  margin-left: 28.5rem;
  margin-right: 48.4375rem;
  margin-bottom: 8rem;
  color: #a9b5cc;
}

/* Style for the h3 title. */
.PackageInfo > h3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 0;
}

/* Style for all the paragraphs. */

.PackageInfo > p {
  font-size: 0.9375;
  font-weight: 400;
}

/* Style for the checkout button (similar to the Purchase button). Included the click effect shadow. */
.CheckoutButton {
  width: 5.8125rem;
  height: 2rem;
  margin-right: 0.75rem;
  border-radius: 6px;
  background-color: #46c351;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.CheckoutButton:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
