@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@400;500;700&display=swap");

/* Style for the header. Used flex to display and space-between to separate the shopping cart from the other elements properly. */
.Header {
  background-color: #141922;
  height: 3.75rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

/* Style for the unordered list, containing the title, home, destinations and spaceships elements. 
   Displayed as flex and vertically aligned in the center. */
.ListContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 26.4rem;
  margin-top: 0.8rem;
}

/* Wrapper for evey p and img element. Enables good vertical alignment of the elements. */
.MenuContainer {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

/* Style for all the p elements. */
p {
  font-family: "Ubuntu" sans-serif;
  font-weight: 400;
  color: #a9b5cc;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

/* Style for the h1 text. */
.H1 {
  margin: 0;
  font-family: "Ubuntu" sans-serif;
  font-weight: 500;
  color: #a9b5cc;
  font-size: 2.2rem;
  line-height: 2.5rem;
  cursor: pointer;
}

/* Style for the shopping cart image and text. */
.ShoppingCart {
  color: #a9b5cc;
  margin-right: 26.4rem;
  margin-left: 0.3rem;
  cursor: pointer;
}
