@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@400;500;700&display=swap");

/* Set the dimenstions and margins of the Carousel div that contains the content of the Carousel */
.CarouselContainer {
  margin-left: 28.5rem;
  margin-right: 26.4rem;
  height: 24.7rem;
  width: auto;
  margin-top: 4rem;
}

/* Syle for the content inside the Carousel. The image and the text parts are separated to better place them on the page.
   Display them using flex and space-between to get the image to sit on the left side and the text on the right. */

.CarouselContent {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #2d333d;
  border: 1px #181d26;
  font-family: "Ubuntu", sans-serif;
}

/* Separate container div for the text parts. */
.TextContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0.9375rem;
  color: #a9b5cc;
  width: 30%;
}

/* Individual styling for the paragraph on the right side of the image. Set margins and font size. */
.TextContainer > .CarouselText {
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}

/* Individual styling for the title of the location. Set margin and font size. */
.TextContainer > .CarouselTitle {
  margin-bottom: 0;
  font-size: 1.875rem;
}

/* Set dimensions and radius for the image inside the carousel. */
.DetailsContainer > .CarouselImage {
  height: 24.7rem;
  border-radius: 8px;
}

/* Container for the image and the details at the top left side of the carousel. Set the position to relative to allow the text 
   at the top left to sit there. Also set the width of the image. */
.DetailsContainer {
  position: relative;
  width: 70%;
}

/* Place the text that overlaps the image at the top left corner of the carousel. */
.DetailsTextContainer {
  position: absolute;
  top: 0.625rem;
  left: 1rem;
  text-align: left;
}

/* Style for the individual lines of text at the top left. */
.DetailsTextContainer > h3 {
  margin: 0;
  color: #a9b5cc;
  font-size: 1rem;
  font-weight: 700;
}

.DetailsTextContainer > p {
  margin: 0;
  color: #a9b5cc;
  font-size: 1rem;
  font-weight: 400;
}

/* Style for the small section that contains the Purchase button. 
   Separated the text parts from the button itself for better placement on the page. */
.PurchaseContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181d26;
  height: 4.5rem;
  border-radius: 0.75rem;
  margin-right: 0.9375rem;
  margin-top: 5rem;
}

/* Style and placement for the text parts of the small Purchase container. */
.Purchase {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
}

.Purchase > h1 {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 700;
}
.Purchase > p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
}

/* Style for the Purchase button itself + click effect shadow. */
.PurchaseContainer > .PurchaseButton {
  width: 5.8125rem;
  height: 2rem;
  margin-right: 0.75rem;
  border-radius: 6px;
  background-color: #46c351;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.PurchaseContainer > .PurchaseButton:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
