@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@400;500;700&display=swap");

/* Footer dimensions, color and font style. */
.Footer {
  height: 9rem;
  width: auto;
  background-color: #141922;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.78125rem;
  font-weight: 300;
}

/* Footer text content alignment, margin and width to match the design file as closely as possible. */
.Footer > .TextContainer {
  text-align: left;
  margin-left: 28.5rem;
  width: 25rem;
}

/* Lower the first paragraph to closer resemble the design file. */
.Paragraph1 {
  margin-top: 2rem;
  margin-bottom: 0;
}
